body {
    background-color: #EAF6F6;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 3%;
}
h1,h3 {
    color: #66BFBF;
    font-family: sans-serif;
}
p, ol, ul, table, form, a {
    font-family: Arial, Helvetica, sans-serif;
}
th,td {
    padding: 5px;
}

#profilePhoto {
    border-radius: 100%;
}